# Laboratorio 9

<p>Para este laboratorio, hemos decidido usar un dataset con los tweets que realizaron las personas frente a Apple</p>

## Lectura del archivo de entrada

In [1]:
import pandas as pd
df = pd.read_csv("Apple-Twitter-Sentiment-DFE.csv", header=0,encoding = 'utf_8')

In [2]:
df.sample(5)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
77,623495590,False,finalized,3,12/12/14 2:23,3,0.6783,Tue Dec 02 01:44:36 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,RT @thehill: Justice Department cites 18th cen...
2265,623497795,False,finalized,3,12/11/14 22:25,3,0.6861,Fri Dec 05 23:39:50 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,BREAKING: #NYC #EricGarnet protestors occupy @...
3351,623498881,False,finalized,3,12/12/14 8:52,3,0.6708,Tue Dec 09 01:26:29 +0000 2014,5.420000e+17,#AAPL OR @Apple,NaN,@TeamCavuto @Apple Most of these stooges have ...
1959,623497484,False,finalized,3,12/12/14 2:25,3,1.0000,Fri Dec 05 12:31:10 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,"iPhon6 rivals by Samsung, LG,HTC suffering del..."
1662,623497186,False,finalized,3,12/12/14 8:43,1,0.7079,Thu Dec 04 21:27:52 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,"RT @OneRepublic: Studio at 45,000 ft. One out..."

## Limpieza de columnas

Eliminamos las columnas que no aportan informacion en cuanto al sentimiento dentro del texto. Estas columnas son las fechas, identificadores y estados.

In [3]:
df2 = df.drop(["_unit_id","_unit_state","date","id","query","_last_judgment_at"],axis=1)
df2.sample(5)

,_golden,_trusted_judgments,sentiment,sentiment:confidence,sentiment_gold,text
3001,False,3,1,1.0000,NaN,my phone keeps restarting on its own @apple do...
2536,False,3,1,0.6510,NaN,Die ins staged @Macys and @apple gives me food...
526,False,3,5,0.6544,NaN,@apple goes red for aids awareness #ProductRED...
2225,False,4,3,0.7201,NaN,Will Apple Pay Consumers $1 Billion For Deleti...
1051,False,3,3,0.6631,NaN,Shipping Estimates for 27-Inch Retina iMac Imp...

## Separacion de datos

Separamos la columna "sentiment" que es el dato final que queremos lograr. Además dividimos los datos de forma que el 80% de los datos servirá para entrenar y el 20% restante servirá para probar.

In [4]:
X_all = df2.drop(['sentiment'],axis=1)
y_all = df2['sentiment']
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [5]:
import numpy as np
titles =np.array(X_train["text"])
print(X_train["text"])
print(titles[1])

825     @jakeflem @Apple That sucks, don't know what i...
1842    Omg omg I just paid a kinder Bueno w @apple #p...
1613    RT @OneRepublic: Studio at 45,000 ft.  One out...
763     #iPhone6S Rumors Point To A CuriousåÊEarly 201...
1182                    11am and 20% battery. Die, @apple
3455    RT @TeamCavuto: Protesters stage #DieIn protes...
1242                   @Samsung is way better than @Apple
260     Every student deserves a chance @apple #connec...
873     .@Apple CEO @tim_cook visits @WhiteHouse http:...
1910    Apple @apple #thinkdifferent http://t.co/4jk0Y...
3784    Please @apple, make the green button do what i...
3480    @panic @jpetersen good call I thought @Apple w...
3318    RT @TeamCavuto: Protesters stage #DieIn protes...
2725    Mark #Zuckerberg defends free #Facebook, fires...
2769    #Music is always part of my life, and everyday...
381     RT @SparkingAri: @ohiloveariana damn I wish I ...
194     @QuentinNield @Apple I need to reinstall on my...
3577    @apple #ios8 The lack of true keyboard integra...
608     @nickruz4 @Apple I can't I just got a new phon...
1840    @apple #macos #yosemite is a buggy piece of sh...
3638    Hey @Apple the keyboard on my phone is all sor...
3288    #Apple 'hoarding' #iPhone6 supply for its own ...
3706    First @Apple employee: The remarkable odyssey ...
2800          .@apple fix yourself http://t.co/l1VsGFaQib
1819    @juji246 @stephanies0601 @BradPaisley @Applebe...
1999    RT @tomlindberg99 'Congrats to @Apple, Mary So...
2409    THE WORLD'S FIRST MURDER VIA FACETIME THANK YO...
3091    #Samsung: How Will The #Galaxy #Note5 Improve ...
1137    iPhone chargers can suck my ass @apple #disapp...
1390    @apple I thought I was taking my selfie to a n...
                              ...
2851    @apple I have been on hold for 30 minutes than...
590     @Apple patents active fall protection system t...
3051    Apple Inc. To Open 500 Stores In India http://...
1027    Early Movers: ANF, TJX, TGT, LYV, #AAPL &amp; ...
3005    Reminiscing on the first low-cost computer whi...
3454    @TeamCavuto @charliekirk11 @Apple what did Mac...
1455    RT @OneRepublic: Studio at 45,000 ft.  One out...
2113    hey @apple could you add an option in mail to ...
792     CNBCTV:  #Cramer: #Apple has no real competiti...
525     contact @Apple RT @mrstiffanyanne anybody that...
1890                    @Kate3015 @Apple get the new sony
337     TheStreet:  #Android Phones to Dominate Throug...
3723    @carlquintanilla Thanks for all the #AAPL cove...
1457    RT @OneRepublic: Studio at 45,000 ft.  One out...
2824          @CarlaBarlaCakes @MoBiggaa @Apple snapchat?
1475    RT @OneRepublic: Studio at 45,000 ft.  One out...
3659    @Apple reveals its Best of 2014 app list- Elev...
3845    media reports say that @Apple is hiring pros f...
61                      @Quailman_ @Apple u was bored huh
1401    #Apple: Kantar's Data Points To A Huge Decembe...
2392    @swerviinnn @Apple maybe stop being a whore fo...
2900    @apple is laughing its pants off with the scho...
1617    RT @OneRepublic: Studio at 45,000 ft.  One out...
2249    Apple: Facing A Challenge From Google's Androi...
3722    RT @DecodedFashion: .@Apple is reportedly hiri...
3025    wtf is my conputer doing I left it alone for f...
2030    Hey @apple while your reading list on safari a...
917     More Evidence That #Apple, Inc. Needs to Refre...
2017    3 Reasons #Apple Is a Potential Warren Buffett...
496     Results of our' #Mobility PilotHouse program. ...
Name: text, Length: 3108, dtype: object
Omg omg I just paid a kinder Bueno w @apple #pay at walgreens awesome experience @ Walgreens http://t.co/f2q6vMOjmG

In [6]:
import re
text = " ".join(titles)

In [9]:
text=titles
text

array(["@jakeflem @Apple That sucks, don't know what it cost in dollars but for us that was å£400 :(",
       'Omg omg I just paid a kinder Bueno w @apple #pay at walgreens awesome experience @ Walgreens http://t.co/f2q6vMOjmG',
       'RT @OneRepublic: Studio at 45,000 ft.  One outlet,  4 computers.  @Apple we need the batteries of the future NoW!!!! http://t.co/astp9x6KET',
       ...,
       'More Evidence That #Apple, Inc. Needs to Refresh #AppleTV | The Motley Fool #aapl http://t.co/UGec9C70Mr',
       "3 Reasons #Apple Is a Potential Warren Buffett Stock and 1 Reason It Isn't | The Motley Fool #aapl http://t.co/BnSCg3I2yo",
       "Results of our' #Mobility PilotHouse program. @ATT  @Cisco @Apple see which had the most loyal customers. http://t.co/FAyv72N0xt"],
      dtype=object)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
vectorizer = CountVectorizer()

In [12]:
txd_matrix = vectorizer.fit_transform(text)

In [13]:
txd_matrix.shape

(3108, 7365)

In [14]:
print (txd_matrix)

  (0, 188)	1
  (0, 6965)	1
  (0, 6769)	1
  (0, 2659)	1
  (0, 1214)	1
  (0, 2035)	1
  (0, 3358)	1
  (0, 1637)	1
  (0, 3529)	1
  (0, 7032)	1
  (0, 3771)	1
  (0, 2038)	1
  (0, 6159)	1
  (0, 6382)	2
  (0, 698)	1
  (0, 3574)	1
  (1, 2412)	1
  (1, 1498)	1
  (1, 3224)	1
  (1, 2388)	1
  (1, 858)	1
  (1, 6939)	2
  (1, 805)	1
  (1, 4853)	1
  (1, 1193)	1
  :	:
  (3106, 428)	1
  (3106, 6386)	1
  (3106, 1498)	1
  (3106, 3224)	1
  (3106, 3529)	1
  (3106, 698)	1
  (3107, 2493)	1
  (3107, 4044)	1
  (3107, 4936)	1
  (3107, 4317)	1
  (3107, 5460)	1
  (3107, 809)	1
  (3107, 5104)	1
  (3107, 1442)	1
  (3107, 1729)	1
  (3107, 3013)	1
  (3107, 7046)	1
  (3107, 4757)	1
  (3107, 5710)	1
  (3107, 4352)	1
  (3107, 4655)	1
  (3107, 6386)	1
  (3107, 1498)	1
  (3107, 3224)	1
  (3107, 698)	1

In [15]:
txd_matrix = CountVectorizer(binary=True).fit_transform(text)

In [16]:
print(txd_matrix)

  (0, 188)	1
  (0, 6965)	1
  (0, 6769)	1
  (0, 2659)	1
  (0, 1214)	1
  (0, 2035)	1
  (0, 3358)	1
  (0, 1637)	1
  (0, 3529)	1
  (0, 7032)	1
  (0, 3771)	1
  (0, 2038)	1
  (0, 6159)	1
  (0, 6382)	1
  (0, 698)	1
  (0, 3574)	1
  (1, 2412)	1
  (1, 1498)	1
  (1, 3224)	1
  (1, 2388)	1
  (1, 858)	1
  (1, 6939)	1
  (1, 805)	1
  (1, 4853)	1
  (1, 1193)	1
  :	:
  (3106, 428)	1
  (3106, 6386)	1
  (3106, 1498)	1
  (3106, 3224)	1
  (3106, 3529)	1
  (3106, 698)	1
  (3107, 2493)	1
  (3107, 4044)	1
  (3107, 4936)	1
  (3107, 4317)	1
  (3107, 5460)	1
  (3107, 809)	1
  (3107, 5104)	1
  (3107, 1442)	1
  (3107, 1729)	1
  (3107, 3013)	1
  (3107, 7046)	1
  (3107, 4757)	1
  (3107, 5710)	1
  (3107, 4352)	1
  (3107, 4655)	1
  (3107, 6386)	1
  (3107, 1498)	1
  (3107, 3224)	1
  (3107, 698)	1

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
tf_matrix = TfidfVectorizer(use_idf=False).fit_transform(text)
tfidf_matrix = TfidfVectorizer().fit_transform(text)

In [18]:
tf_matrix.shape

(3108, 7351)

In [19]:
print(tf_matrix)
print()
print(tfidf_matrix)

  (0, 2123)	0.218217890236
  (0, 3669)	0.218217890236
  (0, 1475)	0.436435780472
  (0, 3198)	0.436435780472
  (0, 6083)	0.218217890236
  (0, 4401)	0.218217890236
  (0, 1537)	0.218217890236
  (0, 3494)	0.218217890236
  (0, 2779)	0.218217890236
  (0, 3333)	0.218217890236
  (0, 6056)	0.218217890236
  (0, 677)	0.218217890236
  (0, 5644)	0.218217890236
  (0, 7127)	0.218217890236
  (0, 6079)	0.218217890236
  (1, 3934)	0.229415733871
  (1, 6373)	0.229415733871
  (1, 6367)	0.229415733871
  (1, 525)	0.229415733871
  (1, 7020)	0.229415733871
  (1, 6464)	0.229415733871
  (1, 5970)	0.229415733871
  (1, 4397)	0.229415733871
  (1, 5935)	0.229415733871
  (1, 2328)	0.229415733871
  :	:
  (3106, 900)	0.22360679775
  (3106, 4469)	0.22360679775
  (3106, 6542)	0.22360679775
  (3106, 521)	0.22360679775
  (3106, 654)	0.22360679775
  (3106, 6942)	0.22360679775
  (3106, 3525)	0.22360679775
  (3106, 4623)	0.22360679775
  (3106, 1475)	0.22360679775
  (3106, 3198)	0.22360679775
  (3106, 3333)	0.22360679775
  (3106, 677)	0.22360679775
  (3106, 5644)	0.22360679775
  (3107, 3503)	0.288675134595
  (3107, 2854)	0.288675134595
  (3107, 1361)	0.288675134595
  (3107, 7144)	0.288675134595
  (3107, 5927)	0.288675134595
  (3107, 866)	0.288675134595
  (3107, 3447)	0.288675134595
  (3107, 620)	0.288675134595
  (3107, 4397)	0.288675134595
  (3107, 3512)	0.288675134595
  (3107, 3494)	0.288675134595
  (3107, 677)	0.288675134595

  (0, 6079)	0.214096699844
  (0, 7127)	0.276131681956
  (0, 5644)	0.256639657848
  (0, 677)	0.0470888689476
  (0, 6056)	0.342563938898
  (0, 3333)	0.118856024916
  (0, 2779)	0.282779486517
  (0, 3494)	0.118218299927
  (0, 1537)	0.342563938898
  (0, 4401)	0.300265317902
  (0, 6083)	0.282779486517
  (0, 3198)	0.138165888316
  (0, 1475)	0.136312039941
  (0, 3669)	0.360049770283
  (0, 2123)	0.360049770283
  (1, 677)	0.0479787403513
  (1, 4852)	0.366853883477
  (1, 7222)	0.28134993614
  (1, 3512)	0.130968545513
  (1, 4543)	0.186947004428
  (1, 2637)	0.276860346113
  (1, 2328)	0.300764216085
  (1, 5935)	0.300764216085
  (1, 4397)	0.142764034991
  (1, 5970)	0.349037610065
  :	:
  (3106, 6942)	0.17352684226
  (3106, 654)	0.212436825835
  (3106, 521)	0.225942847108
  (3106, 6542)	0.215376683498
  (3106, 4469)	0.230268854685
  (3106, 900)	0.281185524279
  (3106, 2161)	0.260631612373
  (3106, 1692)	0.255727189482
  (3106, 2534)	0.291751687889
  (3106, 2243)	0.281185524279
  (3106, 2987)	0.306643859076
  (3106, 1388)	0.306643859076
  (3106, 4661)	0.306643859076
  (3107, 677)	0.0597479818935
  (3107, 3494)	0.1499994585
  (3107, 3512)	0.16309528405
  (3107, 4397)	0.177784220995
  (3107, 620)	0.173301801805
  (3107, 3447)	0.264695482852
  (3107, 866)	0.343058708971
  (3107, 5927)	0.231454170984
  (3107, 7144)	0.323200900247
  (3107, 1361)	0.418915285233
  (3107, 2854)	0.43465694709
  (3107, 3503)	0.418915285233

In [20]:
import nltk
import re

ModuleNotFoundError: No module named 'nltk'

In [ ]:
def clean_tokens(text):
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # sacar numeros, puntuaciones, etc.
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [ ]:
clean_tokens(text[300])

In [ ]:
from collections import Counter
import numpy as np

In [ ]:
#Se transforma todas tweets a valores numéricos (1,0)
tweet2index = {}
for i, tweet in enumerate(list(set([x for x in text]))):
    tweet2index[tweet] = i
    
y = np.array([tweet2index[x] for x in text])
y.shape

In [ ]:
y[0]

In [ ]:
#Obtener la matriz TF-IDF de los tweets
from sklearn.feature_extraction.text import TfidfVectorizer

X_1 = TfidfVectorizer(tokenizer=clean_tokens, stop_words='english').fit_transform(text)

In [ ]:
X_1.shape

In [ ]:
from sklearn.linear_model import SGDClassifier

In [ ]:
def run_model(clf, X, y):
    scores = cross_val_score(clf, X, y, cv=5)
    print("%s accuracy: %0.2f (+/- %0.2f)" % \
          (str(clf.__class__).split('.')[-1].replace('>','').replace("'",''), 
          scores.mean(), scores.std() * 2))

In [ ]:
def run_models(X, y):
    run_model(SGDClassifier(), X, y)

In [ ]:
print(X_1.shape,y.shape)

In [ ]:
run_models(X_1, y)