In [86]:
import pandas as pd
header_names = ['_unit_id',"_golden","_unit_state","_trusted_judgments","_last_judgment_at","sentiment","sentiment:confidence","date","id","query","sentiment_gold","text"]
df = pd.read_csv("Apple-Twitter-Sentiment-DFE - copia.csv", names = header_names, header=None,encoding = 'utf_8')

In [87]:
df.sample(5)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
952,623496470,False,finalized,3,12/12/14 3:32,3,0.6839,Wed Dec 03 19:40:38 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,RT @evilhag_: why isn't there a dreidel emoji ...
3056,623498586,False,finalized,3,12/11/14 22:23,1,1.0000,Mon Dec 08 16:35:35 +0000 2014,5.420000e+17,#AAPL OR @Apple,NaN,"Hey @apple, my iPhone 6 was fully charged at 7..."
2834,623498364,False,finalized,7,12/11/14 22:21,1,0.5697,Mon Dec 08 02:48:50 +0000 2014,5.420000e+17,#AAPL OR @Apple,NaN,Excuse me @apple ... Why is there no Bat Signa...
3538,623499068,False,finalized,6,12/11/14 21:26,3,0.6591,Tue Dec 09 05:27:20 +0000 2014,5.420000e+17,#AAPL OR @Apple,NaN,"RT @OneRepublic: Studio at 45,000 ft. One out..."
2728,623498258,False,finalized,3,12/12/14 8:38,3,0.7079,Sun Dec 07 17:45:03 +0000 2014,5.420000e+17,#AAPL OR @Apple,NaN,#AAPL:Has Tim Cook 'Wasted' $100 Billion At Ap...

In [92]:
df2 = df.drop(["_unit_id","_unit_state","date","id","query","_last_judgment_at"],axis=1)
df2.sample(5)

,_golden,_trusted_judgments,sentiment,sentiment:confidence,sentiment_gold,text
1947,False,3,1,1.0000,NaN,That's what happened to my music! @Apple delet...
3848,False,4,3,1.0000,NaN,@styIesburn @Apple DOIS
2318,False,3,3,1.0000,NaN,"#AAPL:Apple Loop: iPhone 6S Rumors, The Myth O..."
2532,False,3,1,0.6927,NaN,fuck u @apple ur chargers are made like shit
3180,False,6,1,0.5118,NaN,thank you @apple for being such a little troll...

In [94]:
X_all = df2.drop(['sentiment'],axis=1)
y_all = df2['sentiment']
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [107]:
#X_train["text"]
import numpy as np
titles =np.array(X_train["text"])
print(X_train["text"])
print(titles[1])

3687    @apple one of my iPhone 5 speakers just stoppe...
472     #Apple Inc. Short Interest Down Significantly ...
547     Today's Show On Demand features @LawyerPeteSch...
423     Back from the Dead: Old iPods Drag Apple to Co...
3885    RT @SwiftKey: We're so excited to be named to ...
2208    Is it just me, who feels #Yosemite eats more b...
2673    Apple to launch 4-inch iPhone next year: Repor...
2465    RT @Vito_sfam: Hey @apple, the battery of my i...
2965    APPLE Intraday Comments - Pre-Opening - PREMIU...
7       CNBCTV: #Apple's margins better than expected?...
3468    RT @TeamCavuto: Protesters stage #DieIn protes...
1316    Is Apple The Most Important Stock On Earth?  h...
3606    #apple earns more #profit in on quarter than #...
3631    Apple antitrust hearing will continue despite ...
3251    Watch the weekend's new TV ads from @RadioShac...
141     Barclay's #Apple Analyst Joins The Crowd And I...
3363    RT @TeamCavuto: Protesters stage #DieIn protes...
1341                            @MhDaDon @Apple next year
2866                   @tschwettman @Apple what about M E
1562    RT @OneRepublic: Studio at 45,000 ft.  One out...
2318    #AAPL:Apple Loop: iPhone 6S Rumors, The Myth O...
2213    RT @_Jamelia_: Dude, @apple is all over the ma...
2894    RT @uTunes3000: Hitting below the belt! @Apple...
468     waiting on my #iPod - Bubblews http://t.co/un1...
3625    RT @JPDesloges: How Apple Will Boost Profits D...
1817    #Apple's #iPhone6 International Prices Are Hig...
3827                  @StepRam @Apple is it your mother's
2177    RT @cruci0btch: why don't we have harry potter...
1002    Apple Inc. price at close, December 03, 2014, ...
2374    You'd think safari would work well since it's ...
                              ...
1112    #ios8 upgrade creates #cutandpaste problems @a...
243     #Apple heads to trial over iTunes update #AAPL...
2624    Wow @apple I have only family guy and Simpsons...
2803    3 Simple Things #Investors Ought to Know Befor...
2033    Foreign Currency Exchange May Be A Headwind Fo...
3753    RT @iLoveMyMom98: I've tried turning it off an...
2735    Yeah, I'll definitely be going to the @apple s...
690     RT @FaZeNikan: yea let me just pay 600 dollars...
1031    Feed My Ego (Futter Mein Ego) iPhone 4/4S Toug...
2457    Tax Reform: What to Expect From the New Congre...
1592    RT @OneRepublic: Studio at 45,000 ft.  One out...
1321    Is Apple The Most Important Stock On Earth?  h...
3051    Apple Inc. To Open 500 Stores In India http://...
3676    RT @JPDesloges: APPLE - Fibonacci Technicals L...
1457    RT @OneRepublic: Studio at 45,000 ft.  One out...
1165    where's a freaking gelato emoji when you one? ...
3423    RT @TeamCavuto: Protesters stage #DieIn protes...
154                    Yo @Apple fix your shitty iMessage
1267    #Apple Wants To Make Your Commute Much Easier,...
3546    I'm learning all about Apple Store at @Influen...
2750    Could Apple Inc. Sell 24 Million Apple Watches...
2392    @swerviinnn @Apple maybe stop being a whore fo...
1054    if i fail poli sci because of this fucking lap...
895     If @apple made tape dispensers and staplers, I...
1541    RT @OneRepublic: Studio at 45,000 ft.  One out...
1366    Gotta love the Genius Bar @ @apple!! Thanks fo...
25      I had to do made the #switch from iPhone 6 to ...
3809                        BLOCK TRADE detected in #AAPL
3720    #AAPL iPad wins in ranking for best Android ta...
174     iPad Mini Unboxing!: http://t.co/GnLy8W75nA vi...
Name: text, Length: 3108, dtype: object
#Apple Inc. Short Interest Down Significantly In November http://t.co/6ReutKybS2 #aapl

In [113]:
import re
text = " ".join(titles)

738