# Laboratorio 9

<p>Para este laboratorio, hemos decidido usar un dataset con los tweets que realizaron las personas frente a Apple</p>

## Lectura del archivo de entrada

In [ ]:
import pandas as pd
df = pd.read_csv("Apple-Twitter-Sentiment-DFE.csv", header=0,encoding = 'utf_8')

In [4]:
df.sample(5)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
2458,623497988,False,finalized,6,12/12/14 2:47,3,0.6420,Sat Dec 06 15:21:15 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,@Apple #Patents iPhone Drop Protection Mechani...
3093,623498623,False,finalized,4,12/12/14 8:35,3,0.7244,Mon Dec 08 18:02:07 +0000 2014,5.420000e+17,#AAPL OR @Apple,NaN,"#Apple, #PayPal, And #MobilePayments Worldwide..."
1613,623497137,False,finalized,6,12/12/14 5:25,1,0.4833,Thu Dec 04 21:00:01 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,"RT @OneRepublic: Studio at 45,000 ft. One out..."
3114,623498644,False,finalized,3,12/12/14 2:56,1,1.0000,Mon Dec 08 18:29:01 +0000 2014,5.420000e+17,#AAPL OR @Apple,NaN,RT @JPDesloges: Higher Price Targets Are Not H...
1709,623497233,False,finalized,3,12/12/14 22:06,3,1.0000,Thu Dec 04 22:29:47 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,"RT @OneRepublic: Studio at 45,000 ft. One out..."

## Limpieza de columnas

Eliminamos las columnas que no aportan informacion en cuanto al sentimiento dentro del texto. Estas columnas son las fechas, identificadores y estados.

In [5]:
df2 = df.drop(["_unit_id","_unit_state","date","id","query","_last_judgment_at"],axis=1)
df2.sample(5)

,_golden,_trusted_judgments,sentiment,sentiment:confidence,sentiment_gold,text
274,False,4,3,1.0000,NaN,U.S. Government Attempts 'Hail Mary' to Get #A...
2082,False,3,5,0.6631,NaN,@APSVirginia special education staff working h...
2815,False,3,5,1.0000,NaN,Thanks @Apple store @RobinaTC for helping me o...
196,False,3,3,1.0000,NaN,MacBook Pro 13 Non-retina First Startup: htt...
1239,False,3,3,1.0000,NaN,Apple Details An Elaborate Transit Navigation ...

## Separacion de datos

Separamos la columna "sentiment" que es el dato final que queremos lograr. Además dividimos los datos de forma que el 80% de los datos servirá para entrenar y el 20% restante servirá para probar.

In [11]:
X_all = df2.drop(['sentiment'],axis=1)
y_all = df2['sentiment']
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [7]:
import numpy as np
titles =np.array(X_train["text"])
print(X_train["text"])
print(titles[1])

1700    RT @OneRepublic: Studio at 45,000 ft.  One out...
142     just need @apple to come out with a charger co...
2501    RT @chemixcalbieber: '@WhoaBiebz: GET YOUR SHI...
569              @iirwanks ICK YO @apple Autocorrect RUSE
68      Photo: Love IOS 8 @apple @iphone #Love #IOS8 #...
2242    Why can't Apple meet demand for the iPhone 6? ...
3558      @apple thanks for making the shittiest chargers
1792    Apple Inc. Patent To Protect Falling iPhones I...
2843    I hope no one ever cons me into getting anothe...
2301    RT @Metzzler: Hey @apple how about you guys ma...
322     #AAPL:6 Reasons Apple Could Have Fallen 6% Yes...
173     MacBook Pro 13in Unboxing: http://t.co/F3IM9Yb...
2717    Been waiting 7 days so far for @apple to appro...
664     PRINCIPLED TRUTHS: Eddy Cue Talks to Fortune a...
2276    @stackizshort streaming now from @Apple #NYC 5...
3079    We know that @Apple have a strong supply chain...
394     Hey @apple: Love ya but #AppleCare low-fi hold...
1134                                      Fuck you @apple
1178    RT @_coreDump: Your OSX built in @firefox #key...
2635                     @yungshamwow @Apple apple sucks,
581     my dad called now my musics arent playing jesu...
3084    Job Listings Suggest Apple Plans to Boost Its ...
1660    RT @OneRepublic: Studio at 45,000 ft.  One out...
3391    @TeamCavuto @Apple Blacks (13% of pop.) murder...
2305    Had a job interview?No idea how to be @apple s...
2280    Final #AAPL #PutCallRatios for Friday, Decembe...
2331                            @apple on hold 56 min....
1435    RT @OneRepublic: Studio at 45,000 ft.  One out...
1550    RT @OneRepublic: Studio at 45,000 ft.  One out...
2591    @stevewoz @Outback Its good to see you doing t...
                              ...
797     @jokigenki @Apple I think it's like 2011? Can'...
1238    I've been waiting 2 months for my iPhone 6+ wh...
1149    #AAPL:Bloomberg Law: $1 Billion Antitrust Suit...
192     @HammerArcade This makes me feel so sad ;-; WH...
1715    RT @OneRepublic: Studio at 45,000 ft.  One out...
1774    Final #AAPL #PutCallRatios for Thursday, Decem...
2608    GREAT READ: Why @Apple @Facebook and @Google c...
3475    RT @TeamCavuto: Protesters stage #DieIn protes...
1010    @whereiscooldude @Cyrus_T_Virus @Apple wait no...
2660    RT @OneRepublic: Studio at 45,000 ft.  One out...
2801    @brock_and_r0ll @Apple @sam_sock hey I look we...
409     CNBCTV:  Day 1: #Apple's antitrust trial #aapl...
2265    BREAKING: #NYC #EricGarnet protestors occupy @...
123                  Fix it @apple http://t.co/cHoq6LHeHo
3018    @smileforgoogle @Apple yknow that time it rest...
2306    Just trying to buy a charger at @apple! #prote...
718     WHY? WHY HAVE YOU PUT GAY STUFF IN MY FUCKING ...
1030    Apple Releases Safari 8.0.1, 7.1.1, and 6.2.1 ...
1629    RT @OneRepublic: Studio at 45,000 ft.  One out...
1649    Now this is a nice 'Cup and Handle'   http://t...
3359    RT @TeamCavuto: Protesters stage #DieIn protes...
2830    @AllenYork @CarlaBarlaCakes @Apple you can alr...
2499    RT @chemixcalbieber: '@WhoaBiebz: GET YOUR SHI...
575     It would be nice if I could type more than one...
3093    #Apple, #PayPal, And #MobilePayments Worldwide...
3281    @VRich_ I want a gold metallic MacBook to go w...
670     .@apple there needs to be a finger gun emoji P...
1658    RT @OneRepublic: Studio at 45,000 ft.  One out...
3640    Translate Your App! Success story from TAUS me...
1172    I thought this shit was suppose to be gorilla ...
Name: text, Length: 3108, dtype: object
just need @apple to come out with a charger cord that keep a charge &amp; don't fall apart http://t.co/VZ8HDbMzlu

In [8]:
import re
text = " ".join(titles)