# Laboratorio 9

<p>Para este laboratorio, hemos decidido usar un dataset con los tweets que realizaron las personas frente a Apple</p>

## Lectura del archivo de entrada

In [1]:
import pandas as pd
df = pd.read_csv("Apple-Twitter-Sentiment-DFE.csv", header=0,encoding = 'utf_8')

In [2]:
df.sample(5)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
2449,623497979,False,finalized,3,12/11/14 20:55,3,1.0,Sat Dec 06 14:39:19 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,Steve Jobs defends Apple from the grave in iPo...
3204,623498734,False,finalized,3,12/12/14 1:58,3,1.0,Mon Dec 08 21:55:10 +0000 2014,5.420000e+17,#AAPL OR @Apple,NaN,RT @HorseshoeBmore #Holiday #Giveaway! To ensu...
1987,623497512,False,finalized,3,12/12/14 21:36,1,1.0,Fri Dec 05 13:43:32 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,"When a company is playing catch-up, it lost it..."
3366,623498896,False,finalized,3,12/11/14 21:21,3,1.0,Tue Dec 09 01:28:24 +0000 2014,5.420000e+17,#AAPL OR @Apple,NaN,RT @TeamCavuto: Protesters stage #DieIn protes...
839,623496352,False,finalized,3,12/12/14 2:56,3,1.0,Wed Dec 03 16:27:41 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,FBI investigates iPad school programme $AAPL #...

## Limpieza de columnas

Eliminamos las columnas que no aportan informacion en cuanto al sentimiento dentro del texto. Estas columnas son las fechas, identificadores y estados.

In [3]:
df2 = df.drop(["_unit_id","_unit_state","date","id","query","_last_judgment_at"],axis=1)
df2.sample(5)

,_golden,_trusted_judgments,sentiment,sentiment:confidence,sentiment_gold,text
3653,False,3,5,0.6773,NaN,@Apple to Open New Research Site in Japan - WS...
2303,False,3,1,1.0000,NaN,RT @mrushh: hey @apple why is my phone dying w...
3837,True,15,3,0.8078,3\r\nnot_relevant,@iamrayuko @Apple who're you talking to
1629,False,3,1,0.7079,NaN,"RT @OneRepublic: Studio at 45,000 ft. One out..."
3303,False,3,5,0.6635,NaN,RT @TeamCavuto: Protesters stage #DieIn protes...

## Separacion de datos

Separamos la columna "sentiment" que es el dato final que queremos lograr. Además dividimos los datos de forma que el 80% de los datos servirá para entrenar y el 20% restante servirá para probar.

In [4]:
X_all = df2.drop(['sentiment'],axis=1)
y_all = df2['sentiment']
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [5]:
import numpy as np
titles =np.array(X_train["text"])
print(X_train["text"])
print(titles[1])

3657    @TeamCavuto @CaliCard1 @Apple It's not handled...
605     Move Aside #Apple and #Google, #Alibaba is Ent...
3260    Completely in love with my @apple #iphone6 rig...
3841    RT @iLoveMyMom98: I've tried turning it off an...
324     #Apple lower following cautious Pac Crest, Deu...
3599    RT @Amdocs: Top #iOS apps of 2014. @Apple name...
3087    fucking @apple are memer FAGGOTS http://t.co/w...
663     The U.S. government accepts donations to reduc...
2694    @YogscastSjin WOW!! The yogscast is now even s...
152     RT @donacamp: Brass band at @Apple Store Broad...
3834    .@Apple please ban 'After School' and 'Yik Yak...
1917    @Apple Watch SDK and #Monetizaton: Why You Sho...
394     Hey @apple: Love ya but #AppleCare low-fi hold...
2676    Apple Acted Unfairly In Suppressing Digital Mu...
2490                 @lanadelreystan KILL YOURSELF @apple
3851                              @nialIhburn @Apple TRES
3694                                     .@apple you suck
2989    Woah. Woke up to 20+ @apple emails of someone ...
1364    .@codeorg it looks like @Apple is offering a f...
3132    NO CALLER ID must be able to be BLOCKED on @Ap...
3796    @apple @tim_cook its 28 mb ! Why do i need WiF...
3570    RT @SwiftKey: We're so excited to be named to ...
3843    @iamrayuko @Apple because you know you don't w...
1389    RT @JPDesloges: Apple Pay And Services Lead To...
3832    had android chargers for years &amp; they're s...
778     @jakeflem @Apple I had to get my logic board c...
3789    Apple Transitions 'Find My iPhone' Web Maps fo...
1579    RT @OneRepublic: Studio at 45,000 ft.  One out...
2730    @Apple yo this Genius Bar shit is worst than t...
957     Apple's iPhone Gained Significant Share In The...
                              ...
3109    @Apple [#Apple] #Names Its Best #iPhone and #i...
3699    Apple 'hoarding' iPhone 6 supply for its own s...
379     Late Apple Inc. Co-Founder Steve Jobs 'Testifi...
2696    'This accessory may not be supported' ok @Appl...
1694    RT @OneRepublic: Studio at 45,000 ft.  One out...
844                why isn't there a dreidel emoji @apple
1081    Apple Secretly Deleted iPod Owners' Songs Down...
876     @thehill @Apple @tim_cook @WhiteHouse @jmhatte...
4            Nobody expects the Spanish Inquisition #AAPL
1594    '@OneRepublic: Studio at 45,000 ft.  One outle...
1437    RT @OneRepublic: Studio at 45,000 ft.  One out...
3384    RT @TeamCavuto: Protesters stage #DieIn protes...
1635    RT @OneRepublic: Studio at 45,000 ft.  One out...
199     iPad Mini First Time Startup!: http://t.co/vGH...
916     Is It Time to Buy the Dip in #Apple Inc. Stock...
3466    @TeamCavuto @stuntbrain @Apple No rule against...
253     Apple Lower as Analyst Sees Risk of Sharp Prod...
3561    Apple: $113 matches 8% increase in earnings. 2...
2777    Cool Stuff Found: @Apple Posts 'iPad Air 2 - C...
3402    @Listen2Lena 3x bonus airmiles @Apple right no...
2571    Finally updated to iOS 8...this happened ha we...
279     Apple Inc. is doomed. $AAPL dropped by 1.54%! ...
44      Ok, @apple. You win. I won't use your browser ...
1658    RT @OneRepublic: Studio at 45,000 ft.  One out...
621     Liberals should protest corporate greed and th...
3827                  @StepRam @Apple is it your mother's
3463              Why does my battery die so quick @apple
3615    Apple Plans to Launch iPhone 6 Mini Version in...
1591    RT @OneRepublic: Studio at 45,000 ft.  One out...
2903    RT @fakebananas: Thanks @Apple for the preview...
Name: text, Length: 3108, dtype: object
Move Aside #Apple and #Google, #Alibaba is Entering the Connected Car Space - Forbes #baba #goog #aapl http://t.co/gOSQlrWvtl

In [6]:
import re
text = " ".join(titles)

In [7]:
text=titles

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
vectorizer = CountVectorizer()

In [10]:
txd_matrix = vectorizer.fit_transform(text)

In [11]:
txd_matrix.shape

(3108, 7326)

In [12]:
print (txd_matrix)

  (0, 865)	1
  (0, 2883)	1
  (0, 5818)	1
  (0, 5784)	1
  (0, 1811)	1
  (0, 2796)	1
  (0, 2292)	1
  (0, 6384)	1
  (0, 2018)	1
  (0, 4393)	1
  (0, 3929)	1
  (0, 2636)	1
  (0, 1214)	1
  (0, 6967)	1
  (0, 3023)	1
  (0, 4533)	2
  (0, 3513)	1
  (0, 700)	1
  (0, 1252)	1
  (0, 6269)	1
  (1, 2911)	1
  (1, 1490)	1
  (1, 3216)	1
  (1, 438)	1
  (1, 2898)	1
  :	:
  (3106, 4667)	1
  (3106, 808)	1
  (3106, 4623)	1
  (3106, 5543)	1
  (3106, 4549)	1
  (3106, 1490)	1
  (3106, 3216)	1
  (3106, 6348)	2
  (3106, 700)	1
  (3107, 6885)	1
  (3107, 3451)	1
  (3107, 5213)	1
  (3107, 2578)	1
  (3107, 5045)	1
  (3107, 2440)	1
  (3107, 6341)	1
  (3107, 5870)	1
  (3107, 7247)	1
  (3107, 2648)	1
  (3107, 4623)	1
  (3107, 5543)	1
  (3107, 1490)	1
  (3107, 3216)	1
  (3107, 6348)	1
  (3107, 700)	1

In [13]:
txd_matrix = CountVectorizer(binary=True).fit_transform(text)

In [14]:
print(txd_matrix)

  (0, 865)	1
  (0, 2883)	1
  (0, 5818)	1
  (0, 5784)	1
  (0, 1811)	1
  (0, 2796)	1
  (0, 2292)	1
  (0, 6384)	1
  (0, 2018)	1
  (0, 4393)	1
  (0, 3929)	1
  (0, 2636)	1
  (0, 1214)	1
  (0, 6967)	1
  (0, 3023)	1
  (0, 4533)	1
  (0, 3513)	1
  (0, 700)	1
  (0, 1252)	1
  (0, 6269)	1
  (1, 2911)	1
  (1, 1490)	1
  (1, 3216)	1
  (1, 438)	1
  (1, 2898)	1
  :	:
  (3106, 4667)	1
  (3106, 808)	1
  (3106, 4623)	1
  (3106, 5543)	1
  (3106, 4549)	1
  (3106, 1490)	1
  (3106, 3216)	1
  (3106, 6348)	1
  (3106, 700)	1
  (3107, 6885)	1
  (3107, 3451)	1
  (3107, 5213)	1
  (3107, 2578)	1
  (3107, 5045)	1
  (3107, 2440)	1
  (3107, 6341)	1
  (3107, 5870)	1
  (3107, 7247)	1
  (3107, 2648)	1
  (3107, 4623)	1
  (3107, 5543)	1
  (3107, 1490)	1
  (3107, 3216)	1
  (3107, 6348)	1
  (3107, 700)	1

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
tf_matrix = TfidfVectorizer(use_idf=False).fit_transform(text)
tfidf_matrix = TfidfVectorizer().fit_transform(text)

In [17]:
tf_matrix.shape

(3108, 7326)

In [35]:
print(tf_matrix)
print()
print(tfidf_matrix)
nltk.download()

  (0, 865)	0.208514414057
  (0, 2883)	0.208514414057
  (0, 5818)	0.208514414057
  (0, 5784)	0.208514414057
  (0, 1811)	0.208514414057
  (0, 2796)	0.208514414057
  (0, 2292)	0.208514414057
  (0, 6384)	0.208514414057
  (0, 2018)	0.208514414057
  (0, 4393)	0.208514414057
  (0, 3929)	0.208514414057
  (0, 2636)	0.208514414057
  (0, 1214)	0.208514414057
  (0, 6967)	0.208514414057
  (0, 3023)	0.208514414057
  (0, 4533)	0.417028828114
  (0, 3513)	0.208514414057
  (0, 700)	0.208514414057
  (0, 1252)	0.208514414057
  (0, 6269)	0.208514414057
  (1, 2911)	0.229415733871
  (1, 1490)	0.229415733871
  (1, 3216)	0.229415733871
  (1, 438)	0.229415733871
  (1, 2898)	0.229415733871
  :	:
  (3106, 4667)	0.204124145232
  (3106, 808)	0.204124145232
  (3106, 4623)	0.204124145232
  (3106, 5543)	0.204124145232
  (3106, 4549)	0.204124145232
  (3106, 1490)	0.204124145232
  (3106, 3216)	0.204124145232
  (3106, 6348)	0.408248290464
  (3106, 700)	0.204124145232
  (3107, 6885)	0.25
  (3107, 3451)	0.25
  (3107, 5213)	0.25
  (3107, 2578)	0.25
  (3107, 5045)	0.25
  (3107, 2440)	0.25
  (3107, 6341)	0.25
  (3107, 5870)	0.25
  (3107, 7247)	0.25
  (3107, 2648)	0.25
  (3107, 4623)	0.25
  (3107, 5543)	0.25
  (3107, 1490)	0.25
  (3107, 3216)	0.25
  (3107, 6348)	0.25
  (3107, 700)	0.25

  (0, 6269)	0.140598737854
  (0, 1252)	0.284770646394
  (0, 700)	0.0371714528678
  (0, 3513)	0.102144859977
  (0, 4533)	0.289107963028
  (0, 3023)	0.284770646394
  (0, 6967)	0.202981496692
  (0, 1214)	0.157691994994
  (0, 2636)	0.284770646394
  (0, 3929)	0.154553347711
  (0, 4393)	0.270940748649
  (0, 2018)	0.155696763985
  (0, 6384)	0.193558846323
  (0, 2292)	0.270940748649
  (0, 2796)	0.284770646394
  (0, 1811)	0.26112828004
  (0, 5784)	0.182590039022
  (0, 5818)	0.270940748649
  (0, 2883)	0.19240250763
  (0, 865)	0.223656015942
  (1, 700)	0.0415586772822
  (1, 4334)	0.283438932681
  (1, 791)	0.302918994739
  (1, 644)	0.120563005505
  (1, 2900)	0.183905316565
  :	:
  (3106, 6103)	0.240282615294
  (3106, 201)	0.239490796335
  (3106, 1)	0.239228862577
  (3106, 2723)	0.240282615294
  (3106, 4739)	0.240548586577
  (3106, 1561)	0.239490796335
  (3106, 923)	0.239753727938
  (3106, 2757)	0.236411350466
  (3106, 805)	0.241622841139
  (3107, 700)	0.0510242786791
  (3107, 6348)	0.101596373289
  (3107, 3216)	0.0747002093216
  (3107, 1490)	0.0737270071512
  (3107, 5543)	0.11784757518
  (3107, 4623)	0.125594240381
  (3107, 2648)	0.148153972859
  (3107, 7247)	0.194032851693
  (3107, 5870)	0.320476066967
  (3107, 6341)	0.236585616232
  (3107, 2440)	0.358443942968
  (3107, 5045)	0.347996327973
  (3107, 2578)	0.347996327973
  (3107, 5213)	0.347996327973
  (3107, 3451)	0.339460004967
  (3107, 6885)	0.347996327973
showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [36]:
import nltk
import re
nltk.download('punkt')

In [37]:
def clean_tokens(text):
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # sacar numeros, puntuaciones, etc.
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [38]:
clean_tokens(text[300])

['swiftkey',
 'apple',
 'oh',
 'in',
 'wish',
 'you',
 'guys',
 'would',
 'port',
 'hebrew',
 'from',
 'the',
 'android',
 'version',
 'already',
 'i',
 'have',
 'swapping',
 'abck',
 'and',
 'forth']

In [39]:
from collections import Counter
import numpy as np

In [40]:
#Se transforma todas tweets a valores numéricos (1,0)
tweet2index = {}
for i, tweet in enumerate(list(set([x for x in text]))):
    tweet2index[tweet] = i
    
y = np.array([tweet2index[x] for x in text])
y.shape

(3108,)

In [41]:
y[0]

800

In [42]:
#Obtener la matriz TF-IDF de los tweets
from sklearn.feature_extraction.text import TfidfVectorizer

X_1 = TfidfVectorizer(tokenizer=clean_tokens, stop_words='english').fit_transform(text)

In [43]:
X_1.shape

(3108, 7197)

In [54]:
from sklearn.model_selection import cross_val_score

from sklearn.svm import LinearSVC
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.naive_bayes import BernoulliNB, MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestCentroid
from sklearn.ensemble import RandomForestClassifier

In [50]:
def run_model(clf, X, y):
    scores = cross_val_score(clf, X, y, cv=5)
    print("%s accuracy: %0.2f (+/- %0.2f)" % \
          (str(clf.__class__).split('.')[-1].replace('>','').replace("'",''), 
          scores.mean(), scores.std() * 2))

In [55]:
def run_models(X, y):
    run_model(LinearSVC(), X, y)
    run_model(SGDClassifier(), X, y)
    run_model(Perceptron(), X, y)
    run_model(PassiveAggressiveClassifier(), X, y)
    run_model(BernoulliNB(), X, y)
    run_model(MultinomialNB(), X, y)
    run_model(KNeighborsClassifier(), X, y)
    run_model(NearestCentroid(), X, y)
    run_model(RandomForestClassifier(n_estimators=100, max_depth=10), X, y)

In [56]:
print(X_1.shape,y.shape)

(3108, 7197) (3108,)

In [57]:
run_models(X_1, y)

/opt/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

LinearSVC accuracy: 0.80 (+/- 0.75)

/opt/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

SGDClassifier accuracy: 0.80 (+/- 0.74)

/opt/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Perceptron accuracy: 0.78 (+/- 0.73)

/opt/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

PassiveAggressiveClassifier accuracy: 0.80 (+/- 0.74)

/opt/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

BernoulliNB accuracy: 0.55 (+/- 0.56)

/opt/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

MultinomialNB accuracy: 0.60 (+/- 0.62)

/opt/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

KNeighborsClassifier accuracy: 0.77 (+/- 0.74)

/opt/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

NearestCentroid accuracy: 0.81 (+/- 0.75)

/opt/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

RandomForestClassifier accuracy: 0.75 (+/- 0.72)

## Utilizando Word Vectors de Spacy

In [2]:
m=6
spacy_vectors = np.identity(m)
spacy_vectors

NameError: name 'np' is not defined

In [ ]:
hidden_layer = 3

theta1 = np.random.rand(hidden_layer,m)
theta2 = np.random.rand(m,hidden_layer)

print(theta1)
print(theta2)

In [ ]:
import math
def softmax(H):
    sumatoria = sum([math.exp(w) for w in H])
    return [math.exp(w)/sumatoria for w in H]

In [ ]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [ ]:
def sigmoid_gradient(z):
    return np.multiply(sigmoid(z), (1 - sigmoid(z)))

In [ ]:
def forward(X,theta1,theta2):
    m = X.shape[0]
    
    a1=X
    z2 = a1 * theta1.T
    a2 = sigmoid(z2) #funcion activacion
    z3 = a2 * theta2.T
    h = sigmoid(z3) #funcion activacion
    
    return a1, z2, a2, z3, h

In [ ]:
def forward2(X,theta1,theta2):
    m = X.shape[0]
    
    a1=X
    a2 = a1 * theta1.T
    h = a2 * theta2.T
    
    return a1,a2, h

In [ ]:
def backpropagation(thetha1,theta2,X,y):
    m = X.shape[0]
    X = np.matrix(X)
    y = np.matrix(y)
    
    a1, z2, a2, z3, h = forward(theta1,theta2,X,y)

In [ ]:
def backpropagation2(theta1,theta2,X,y):
    m = X.shape[0]
    X = np.matrix(X)
    y = np.matrix(y)
    
    a1,a2,h = forward2(X,theta1,theta2)
    
    delta1 = np.zeros(theta1.shape)  
    delta2 = np.zeros(theta2.shape)
    
    for t in range(m):
        a1t = a1[t,:]
        a2t = a2[t,:]
        ht = h[t,:]
        yt = y[t,:]
        
        d3t = ht - yt #(1,6)
        
        d2t = (theta2.T * d3t.T).T #(1,3)
        
        delta1 = delta1 + d2t.T * a1t
        delta2 = delta2 + d3t.T * a2t
        
    delta1 = delta1 / m
    delta2 = delta2 / m
    
    grad1 = delta1
    grad2 = delta2
    
    return grad1,grad2

In [ ]:
x_ = spacy_vectors[3]
y_ = spacy_vectors[4]
x_ = np.matrix(x_)


a1,a2, h = forward2(x_,theta1,theta2)
h
theta3,theta4 = backpropagation2(theta1,theta2,x_,y_)
a1,a2, h = forward2(x_,theta3,theta4)
#np.array(h)
softmax(np.array(h)[0])