# Laboratorio 9

<p>Para este laboratorio, hemos decidido usar un dataset con los tweets que realizaron las personas frente a Apple</p>

## Lectura del archivo de entrada

In [2]:
import pandas as pd
df = pd.read_csv("Apple-Twitter-Sentiment-DFE.csv", header=0,encoding = 'utf_8')

In [3]:
df.sample(5)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
1777,623497301,False,finalized,3,12/12/14 2:36,3,1.0000,Fri Dec 05 00:49:28 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,RT @MissionIR: Is Apple The Most Important Sto...
779,623496292,False,finalized,3,12/12/14 8:43,3,1.0000,Wed Dec 03 15:00:41 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Big Spending by Consumers on Cyber Monday\r\n\...
2770,623498300,False,finalized,3,12/11/14 21:13,3,0.6505,Sun Dec 07 21:30:02 +0000 2014,5.420000e+17,#AAPL OR @Apple,NaN,Trade $AAPL #FREE Nightly Updates are #posted ...
2088,623497618,False,finalized,3,12/12/14 13:17,3,0.6851,Fri Dec 05 17:13:59 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,Barclays raises Apple price target by 17% to $...
450,623495963,False,finalized,3,12/11/14 22:12,5,0.6650,Tue Dec 02 19:35:16 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Was pleased to meet a fellow tweep at @apple #...

## Limpieza de columnas

Eliminamos las columnas que no aportan informacion en cuanto al sentimiento dentro del texto. Estas columnas son las fechas, identificadores y estados.

In [4]:
df2 = df.drop(["_unit_id","_unit_state","date","id","query","_last_judgment_at"],axis=1)
df2.sample(5)

,_golden,_trusted_judgments,sentiment,sentiment:confidence,sentiment_gold,text
2109,False,6,3,0.5123,NaN,"For this problem, we can blame anybody we like..."
2296,True,12,1,0.5833,3\r\n1,"@apple emojis en mac, pleaaaase! :((("
1904,False,3,3,0.6800,NaN,"RT @OneRepublic: Studio at 45,000 ft. One out..."
3297,False,3,3,0.6515,NaN,Protesters stage #DieIn protests in @Apple sto...
321,False,3,3,1.0000,NaN,Apple Gets Price Target Boost on Back of Stron...

## Separacion de datos

Separamos la columna "sentiment" que es el dato final que queremos lograr. Además dividimos los datos de forma que el 80% de los datos servirá para entrenar y el 20% restante servirá para probar.

In [5]:
X_all = df2.drop(['sentiment'],axis=1)
y_all = df2['sentiment']
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [6]:
import numpy as np
titles =np.array(X_train["text"])
print(X_train["text"])
print(titles[1])

3222    Steve Wozniak Says @Apple Starting In Garage I...
1009    @pdbogen Yeah, it's not for everyone. I sold m...
263     A lack of equal access to technology places st...
2638    Enjoying my studio wireless beats. @beatsbydre...
609     No at typo changing my words. Get it together ...
3198    Few spots left @WWCLondon's 10 Dec event @Appl...
592     Also I've had my iPhone 6 for two days and it'...
1405    Apple 'deleted' rivals' music from iPods, cour...
427     RT @IDSA: Legendary @Apple designer @SusanKare...
3873    Apple Is Warming Up To Social Media: Apple is ...
2005    @AppleOfficialll @apple I can't say enough abo...
1891    Torn between @SamsungMobileUS and @apple for m...
2083    Dear @Apple all I want for Xmas is for iOS 8 t...
2803    3 Simple Things #Investors Ought to Know Befor...
1332    RT @_JuGatti: Wouldn't be a bad idea to bring ...
2796    #AAPL:Buzz Stocks: Apple Inc. (AAPL), RadioSha...
3170                       @justinbieber @apple get on it
38      RT @thehill: Justice Department cites 18th cen...
348     CNBCTV:  #iPhone growth peaked? #aapl  http://...
612     fuck apple for allowing ppl to access the came...
1492    RT @OneRepublic: Studio at 45,000 ft.  One out...
2405             @abbey_ivey here ask my friends @ @apple
1881    @cynthialanel @twitter silicon valley as a who...
1711    RT @OneRepublic: Studio at 45,000 ft.  One out...
2126    RT @shannonmmiller: Love the @Apple is support...
2603                   dear @Apple get your shit together
2264                          Things are happening @apple
2591    @stevewoz @Outback Its good to see you doing t...
1437    RT @OneRepublic: Studio at 45,000 ft.  One out...
2660    RT @OneRepublic: Studio at 45,000 ft.  One out...
                              ...
3724    2015 to be the year of biometrics, wearables, ...
2028    @apple awards @RegisCollege_MA with Distinguis...
3645    #aapl traders? chart looks weaker than I'd lik...
1441    RT @OneRepublic: Studio at 45,000 ft.  One out...
1383    It took just one month for the #iPhone6Plus to...
1399    RT Different is Normal http://t.co/6cbUmYzRlm ...
1401    #Apple: Kantar's Data Points To A Huge Decembe...
2726    2) @Apple I've got one question for yall. Who ...
1032    my laptop battery went straight from 60% to 3%...
3124    BloombergTV:  #Wozniak: What Really Happened i...
2729    iPhone 6, 6 Plus Availability And Wait Time Up...
1022    Shockingly, iMessage on the desktop is fucked ...
537     #Apple Inc. #AAPL News Analysis: Did Apple Inc...
719     #Rumors #Surface for @@Apple [#Apple] #iPhone6...
453     @UberFacts i can think of 100 reasons not to i...
3731    .@Apple and @Amazon refuse to make full federa...
2841    Gonna be dreaming about my laptop.. If only @A...
546     @Apple sets its own timetable (rather than cha...
365                my phone keeps fucking freezing @apple
3447    RT @TeamCavuto: Protesters stage #DieIn protes...
2091    RT @JPDesloges: Apple to Support a New Franchi...
3481    I seriously f-ing HATE this new version of @Ap...
3120    CNBCTV:  Citi's #Apple optimism #aapl http://t...
1745    Yay @Apple customer support was super nice and...
3023    Purchase a $99 @apple TV ($99 Value) simply by...
429     @NCRcorporation Silver Merchants Prefer #Bitco...
138     RT @donacamp: Brass band at @Apple Store Broad...
1048    New HA Blog Post &gt;&gt;&gt; Final #AAPL #Put...
2084    @Apple was fighting a 'never ending battle' ag...
2602    MY IPAD IS GLITCHING SO BAD AND IT ISNT CHARGI...
Name: text, Length: 3108, dtype: object
@pdbogen Yeah, it's not for everyone. I sold my soul to @Apple a while ago. Thanks for the link!

In [7]:
import re
text = " ".join(titles)

In [8]:
text=titles

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
vectorizer = CountVectorizer()

In [11]:
txd_matrix = vectorizer.fit_transform(text)

In [12]:
txd_matrix.shape

(3108, 7351)

In [13]:
print (txd_matrix)

  (0, 2123)	1
  (0, 3669)	1
  (0, 1475)	2
  (0, 3198)	2
  (0, 6083)	1
  (0, 4401)	1
  (0, 1537)	1
  (0, 3494)	1
  (0, 2779)	1
  (0, 3333)	1
  (0, 6056)	1
  (0, 677)	1
  (0, 5644)	1
  (0, 7127)	1
  (0, 6079)	1
  (1, 3934)	1
  (1, 6373)	1
  (1, 6367)	1
  (1, 525)	1
  (1, 7020)	1
  (1, 6464)	1
  (1, 5970)	1
  (1, 4397)	1
  (1, 5935)	1
  (1, 2328)	1
  :	:
  (3106, 900)	1
  (3106, 4469)	1
  (3106, 6542)	1
  (3106, 521)	1
  (3106, 654)	1
  (3106, 6942)	1
  (3106, 3525)	1
  (3106, 4623)	1
  (3106, 1475)	1
  (3106, 3198)	1
  (3106, 3333)	1
  (3106, 677)	1
  (3106, 5644)	1
  (3107, 3503)	1
  (3107, 2854)	1
  (3107, 1361)	1
  (3107, 7144)	1
  (3107, 5927)	1
  (3107, 866)	1
  (3107, 3447)	1
  (3107, 620)	1
  (3107, 4397)	1
  (3107, 3512)	1
  (3107, 3494)	1
  (3107, 677)	1

In [14]:
txd_matrix = CountVectorizer(binary=True).fit_transform(text)

In [15]:
print(txd_matrix)

  (0, 2123)	1
  (0, 3669)	1
  (0, 1475)	1
  (0, 3198)	1
  (0, 6083)	1
  (0, 4401)	1
  (0, 1537)	1
  (0, 3494)	1
  (0, 2779)	1
  (0, 3333)	1
  (0, 6056)	1
  (0, 677)	1
  (0, 5644)	1
  (0, 7127)	1
  (0, 6079)	1
  (1, 3934)	1
  (1, 6373)	1
  (1, 6367)	1
  (1, 525)	1
  (1, 7020)	1
  (1, 6464)	1
  (1, 5970)	1
  (1, 4397)	1
  (1, 5935)	1
  (1, 2328)	1
  :	:
  (3106, 900)	1
  (3106, 4469)	1
  (3106, 6542)	1
  (3106, 521)	1
  (3106, 654)	1
  (3106, 6942)	1
  (3106, 3525)	1
  (3106, 4623)	1
  (3106, 1475)	1
  (3106, 3198)	1
  (3106, 3333)	1
  (3106, 677)	1
  (3106, 5644)	1
  (3107, 3503)	1
  (3107, 2854)	1
  (3107, 1361)	1
  (3107, 7144)	1
  (3107, 5927)	1
  (3107, 866)	1
  (3107, 3447)	1
  (3107, 620)	1
  (3107, 4397)	1
  (3107, 3512)	1
  (3107, 3494)	1
  (3107, 677)	1

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
tf_matrix = TfidfVectorizer(use_idf=False).fit_transform(text)
tfidf_matrix = TfidfVectorizer().fit_transform(text)

In [18]:
tf_matrix.shape

(3108, 7351)

In [19]:
print(tf_matrix)
print()
print(tfidf_matrix)

  (0, 2123)	0.218217890236
  (0, 3669)	0.218217890236
  (0, 1475)	0.436435780472
  (0, 3198)	0.436435780472
  (0, 6083)	0.218217890236
  (0, 4401)	0.218217890236
  (0, 1537)	0.218217890236
  (0, 3494)	0.218217890236
  (0, 2779)	0.218217890236
  (0, 3333)	0.218217890236
  (0, 6056)	0.218217890236
  (0, 677)	0.218217890236
  (0, 5644)	0.218217890236
  (0, 7127)	0.218217890236
  (0, 6079)	0.218217890236
  (1, 3934)	0.229415733871
  (1, 6373)	0.229415733871
  (1, 6367)	0.229415733871
  (1, 525)	0.229415733871
  (1, 7020)	0.229415733871
  (1, 6464)	0.229415733871
  (1, 5970)	0.229415733871
  (1, 4397)	0.229415733871
  (1, 5935)	0.229415733871
  (1, 2328)	0.229415733871
  :	:
  (3106, 900)	0.22360679775
  (3106, 4469)	0.22360679775
  (3106, 6542)	0.22360679775
  (3106, 521)	0.22360679775
  (3106, 654)	0.22360679775
  (3106, 6942)	0.22360679775
  (3106, 3525)	0.22360679775
  (3106, 4623)	0.22360679775
  (3106, 1475)	0.22360679775
  (3106, 3198)	0.22360679775
  (3106, 3333)	0.22360679775
  (3106, 677)	0.22360679775
  (3106, 5644)	0.22360679775
  (3107, 3503)	0.288675134595
  (3107, 2854)	0.288675134595
  (3107, 1361)	0.288675134595
  (3107, 7144)	0.288675134595
  (3107, 5927)	0.288675134595
  (3107, 866)	0.288675134595
  (3107, 3447)	0.288675134595
  (3107, 620)	0.288675134595
  (3107, 4397)	0.288675134595
  (3107, 3512)	0.288675134595
  (3107, 3494)	0.288675134595
  (3107, 677)	0.288675134595

  (0, 6079)	0.214096699844
  (0, 7127)	0.276131681956
  (0, 5644)	0.256639657848
  (0, 677)	0.0470888689476
  (0, 6056)	0.342563938898
  (0, 3333)	0.118856024916
  (0, 2779)	0.282779486517
  (0, 3494)	0.118218299927
  (0, 1537)	0.342563938898
  (0, 4401)	0.300265317902
  (0, 6083)	0.282779486517
  (0, 3198)	0.138165888316
  (0, 1475)	0.136312039941
  (0, 3669)	0.360049770283
  (0, 2123)	0.360049770283
  (1, 677)	0.0479787403513
  (1, 4852)	0.366853883477
  (1, 7222)	0.28134993614
  (1, 3512)	0.130968545513
  (1, 4543)	0.186947004428
  (1, 2637)	0.276860346113
  (1, 2328)	0.300764216085
  (1, 5935)	0.300764216085
  (1, 4397)	0.142764034991
  (1, 5970)	0.349037610065
  :	:
  (3106, 6942)	0.17352684226
  (3106, 654)	0.212436825835
  (3106, 521)	0.225942847108
  (3106, 6542)	0.215376683498
  (3106, 4469)	0.230268854685
  (3106, 900)	0.281185524279
  (3106, 2161)	0.260631612373
  (3106, 1692)	0.255727189482
  (3106, 2534)	0.291751687889
  (3106, 2243)	0.281185524279
  (3106, 2987)	0.306643859076
  (3106, 1388)	0.306643859076
  (3106, 4661)	0.306643859076
  (3107, 677)	0.0597479818935
  (3107, 3494)	0.1499994585
  (3107, 3512)	0.16309528405
  (3107, 4397)	0.177784220995
  (3107, 620)	0.173301801805
  (3107, 3447)	0.264695482852
  (3107, 866)	0.343058708971
  (3107, 5927)	0.231454170984
  (3107, 7144)	0.323200900247
  (3107, 1361)	0.418915285233
  (3107, 2854)	0.43465694709
  (3107, 3503)	0.418915285233

In [20]:
import nltk
import re

ModuleNotFoundError: No module named 'nltk'

In [ ]:
def clean_tokens(text):
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # sacar numeros, puntuaciones, etc.
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [ ]:
clean_tokens(text[300])

In [ ]:
from collections import Counter
import numpy as np

In [ ]:
#Se transforma todas tweets a valores numéricos (1,0)
tweet2index = {}
for i, tweet in enumerate(list(set([x for x in text]))):
    tweet2index[tweet] = i
    
y = np.array([tweet2index[x] for x in text])
y.shape

In [ ]:
y[0]

In [ ]:
#Obtener la matriz TF-IDF de los tweets
from sklearn.feature_extraction.text import TfidfVectorizer

X_1 = TfidfVectorizer(tokenizer=clean_tokens, stop_words='english').fit_transform(text)

In [ ]:
X_1.shape

In [ ]:
from sklearn.linear_model import SGDClassifier

In [ ]:
def run_model(clf, X, y):
    scores = cross_val_score(clf, X, y, cv=5)
    print("%s accuracy: %0.2f (+/- %0.2f)" % \
          (str(clf.__class__).split('.')[-1].replace('>','').replace("'",''), 
          scores.mean(), scores.std() * 2))

In [ ]:
def run_models(X, y):
    run_model(SGDClassifier(), X, y)

In [ ]:
print(X_1.shape,y.shape)

In [ ]:
run_models(X_1, y)