# Laboratorio 9

<p>Para este laboratorio, hemos decidido usar un dataset con los tweets que realizaron las personas frente a Apple</p>

## Lectura del archivo de entrada

In [3]:
import pandas as pd
df = pd.read_csv("Apple-Twitter-Sentiment-DFE.csv", header=0,encoding = 'utf_8')

In [4]:
df.sample(5)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
1334,623496858,False,finalized,3,12/12/14 17:53,1,1.0000,Thu Dec 04 17:28:21 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,An OSX update just bricked my MacBook Pro!. @a...
121,623495634,False,finalized,3,12/12/14 16:19,5,1.0000,Tue Dec 02 03:58:50 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Well played @apple http://t.co/mGbsxyiA69
1242,623496766,False,finalized,3,12/12/14 12:15,1,1.0000,Thu Dec 04 14:43:49 +0000 2014,5.410000e+17,#AAPL OR @Apple,NaN,@Samsung is way better than @Apple
3195,623498725,False,finalized,3,12/11/14 21:03,1,0.6722,Mon Dec 08 21:46:04 +0000 2014,5.420000e+17,#AAPL OR @Apple,NaN,Happy Monday! My camera on my fancy @Apple #iP...
55,623495568,False,finalized,4,12/12/14 22:25,3,0.7320,Tue Dec 02 00:51:10 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,"Final #AAPL #PutCallRatios for Monday, Decembe..."

## Limpieza de columnas

Eliminamos las columnas que no aportan informacion en cuanto al sentimiento dentro del texto. Estas columnas son las fechas, identificadores y estados.

In [5]:
df2 = df.drop(["_unit_id","_unit_state","date","id","query","_last_judgment_at"],axis=1)
df2.sample(5)

,_golden,_trusted_judgments,sentiment,sentiment:confidence,sentiment_gold,text
2745,False,3,1,0.6804,NaN,Yall some hoes BRUH @apple http://t.co/BBVtlFzzpK
1726,False,3,3,0.6774,NaN,Did @apple delete #music from sites other than...
3077,False,3,3,1.0000,NaN,MasterCard Teams Up With Gwen Stefani to Promo...
2626,False,6,1,0.6565,NaN,Hey @netflix how come every Saturday movie nig...
1614,False,3,3,0.7079,NaN,#AAPL:Samsung asks appeals court to throw out ...

## Separacion de datos

Separamos la columna "sentiment" que es el dato final que queremos lograr. Además dividimos los datos de forma que el 80% de los datos servirá para entrenar y el 20% restante servirá para probar.

In [6]:
X_all = df2.drop(['sentiment'],axis=1)
y_all = df2['sentiment']
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [7]:
import numpy as np
titles =np.array(X_train["text"])
print(X_train["text"])
print(titles[1])

3310    RT @TeamCavuto: Protesters stage #DieIn protes...
2764    Apple: Market Maker Price Range Forecast Updat...
1070    How Competition Between Wireless Carriers Bene...
2085    RT @OneRepublic: Studio at 45,000 ft.  One out...
95      #whoknew Why isn't @Apple on Twitter? http://t...
2824          @CarlaBarlaCakes @MoBiggaa @Apple snapchat?
3342    RT @TeamCavuto: Protesters stage #DieIn protes...
3668    @Apple seems to be nailing it with @applepay, ...
3211                        #AAPL deep in the money Calls
3161    Tryng to get back on snapchat but the App Stor...
1805    @apple official I have 2 appletv's constantly ...
642     Love my @apple #macbookpro. Best ever http://t...
2306    Just trying to buy a charger at @apple! #prote...
2468    RT @Vito_sfam: Hey @apple, the battery of my i...
1773    'Could Falling Oil Prices Spark A Financial Cr...
3298    For the past week my phone stay freezing &amp;...
3769    Apple Releases iOS 8.1.2 With Fix for Disappea...
2405             @abbey_ivey here ask my friends @ @apple
2790    @sprint refuses to unlock my out of contract i...
822     Did anyone update their Yosemite? My macbook i...
3641    Translate Your App! Success story from TAUS me...
346     http://t.co/7iyWkaiMss @apple Early Adoption I...
3265    Apple Inc. is Catching up on iPhone 6 Supply, ...
3760    iPod Lawsuit Loses Last Plaintiff as Judge Dis...
681                       @FaZeNikan @Apple Wrong @ Homie
3455    RT @TeamCavuto: Protesters stage #DieIn protes...
3585    @Apple Is Already Building Its Next Massive Bu...
2457    Tax Reform: What to Expect From the New Congre...
417     @Google #Chromecast Leapfrogs @Apple #TV as th...
250     RT @laurrynk: Dear @apple replace my phone my ...
                              ...
3215    I don't know what you're trying to do @apple b...
70      Then how the hell did I take this screenshot? ...
1655    RT @OneRepublic: Studio at 45,000 ft.  One out...
2913    @Apple [#Apple]'s #iPhone6 China Unicom Lead. ...
2154    Plaintiff withdrawn in iPod antitrust lawsuit ...
2214    Foreign Currency Exchange May Be A Headwind Fo...
3438    RT @TeamCavuto: Protesters stage #DieIn protes...
2990    Takes more than #marketing to convert shoppers...
630     #AAPL #iOS8 RT @BenedictEvans Browser share ht...
3673    APPLE - Fibonacci Technicals Levels - Intraday...
3523                @Tyniaaaa_  FUCK @JColeNC  and @apple
448     @LittleWordBites @Apple @TommyHilfiger Sounds ...
3556    RT @Jus_Trippy: i need new emojis , preferably...
2272    #iPhone6c release date, #rumours and #leaked i...
2052    Resisting a Bite of the #Holiday @Apple - http...
3252    Best Buy Cuts Apple Inc. iPad Prices to Boost ...
968     RT @JPDesloges: The iPhone 6 Plus Will Be Huge...
2434    a split in The Valley on user data? @Apple say...
1580    RT @OneRepublic: Studio at 45,000 ft.  One out...
433     @SamJam Agreed--have to give props to @Apple f...
2523    @Apple @iCloud Family in-app purchase approval...
1849    RT @KaminaBlue: Get three way FaceTimeing. Im ...
2660    RT @OneRepublic: Studio at 45,000 ft.  One out...
837     What's at the core of @Apple's new #iOS7? Exce...
3682    @Apple building massive new #R&amp;D center in...
276     #CNBC will make you poor  #CL just got slammed...
2183                 @Apple honey crisp apple for the win
1498    RT @OneRepublic: Studio at 45,000 ft.  One out...
1265    Tim #Cook's $100 Billion 'Mistake' #aapl http:...
765     Go Apple! Looks like a little squeeze again :)...
Name: text, Length: 3108, dtype: object
Apple: Market Maker Price Range Forecast Update $AAPL #aapl
http://t.co/pxOoOAKuy8

In [8]:
import re
text = " ".join(titles)

In [9]:
text=titles
text

array(['RT @TeamCavuto: Protesters stage #DieIn protests in @Apple store in NYC... Is it me, or is this anger misplaced? RETWEET if you agree.',
       'Apple: Market Maker Price Range Forecast Update $AAPL #aapl\r\nhttp://t.co/pxOoOAKuy8',
       'How Competition Between Wireless Carriers Benefits Apple, Inc. http://t.co/9wBMngm62w #AAPL',
       ...,
       'RT @OneRepublic: Studio at 45,000 ft.  One outlet,  4 computers.  @Apple we need the batteries of the future NoW!!!! http://t.co/astp9x6KET',
       "Tim #Cook's $100 Billion 'Mistake' #aapl http://t.co/BkWq9RyDeb http://t.co/s77JNrg1n4",
       'Go Apple! Looks like a little squeeze again :) #aapl $stocks'],
      dtype=object)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
vectorizer = CountVectorizer()

In [12]:
txd_matrix = vectorizer.fit_transform(text)

In [13]:
txd_matrix.shape

(3108, 7389)

In [14]:
#print (txd_matrix)

In [15]:
txd_matrix = CountVectorizer(binary=True).fit_transform(text)

In [16]:
#print(txd_matrix)

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
tf_matrix = TfidfVectorizer(use_idf=False).fit_transform(text)
tfidf_matrix = TfidfVectorizer().fit_transform(text)

In [19]:
tf_matrix.shape

(3108, 7389)

In [20]:
#print(tf_matrix)
#print()
#print(tfidf_matrix)

In [45]:
import nltk
import re
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [46]:
def clean_tokens(text):
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # sacar numeros, puntuaciones, etc.
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [47]:
clean_tokens(text[300])

['apple', 'why', 'is', "n't", 'there', 'an', 'otter', 'emoji']

In [48]:
from collections import Counter
import numpy as np

In [49]:
#Se transforma todas tweets a valores numéricos (1,0)
tweet2index = {}
for i, tweet in enumerate(list(set([x for x in text]))):
    tweet2index[tweet] = i
    
y = np.array([tweet2index[x] for x in text])
y.shape

(3108,)

In [50]:
y[0]

2404

In [51]:
#Obtener la matriz TF-IDF de los tweets
from sklearn.feature_extraction.text import TfidfVectorizer

X_1 = TfidfVectorizer(tokenizer=clean_tokens, stop_words='english').fit_transform(text)

In [52]:
X_1.shape

(3108, 7276)

In [53]:
from sklearn.linear_model import SGDClassifier

In [62]:
def run_model(clf, X, y):
    scores = cross_val_score(clf, X, y, cv=5)
    print("%s accuracy: %0.2f (+/- %0.2f)" % \
          (str(clf.__class__).split('.')[-1].replace('>','').replace("'",''), 
          scores.mean(), scores.std() * 2))

In [59]:
def run_models(X, y):
    run_model(SGDClassifier(), X, y)

In [60]:
print(X_1.shape,y.shape)

(3108, 7276) (3108,)

In [76]:
run_models(X_1, y)

NameError: name 'cross_val_score' is not defined

## Utilizando Word Vectors de Spacy

In [64]:
m=6
spacy_vectors = np.identity(m)
spacy_vectors

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [97]:

hidden_layer = 3

theta1 = np.random.rand(hidden_layer,m)
theta2 = np.random.rand(m,hidden_layer)

print(theta1)
print(theta2)

[[0.86091788 0.82998004 0.83301083 0.65290201 0.70461497 0.8410422 ]
 [0.62335627 0.83674718 0.80756677 0.58320796 0.82678588 0.8056291 ]
 [0.72087494 0.07278065 0.24754889 0.48471839 0.91473282 0.99213188]]
[[0.40633864 0.96276768 0.85424681]
 [0.42258866 0.62476255 0.66817416]
 [0.04056099 0.72066663 0.53747064]
 [0.88532785 0.06287056 0.0211588 ]
 [0.47363792 0.07395148 0.35004012]
 [0.81473252 0.43397874 0.23046577]]

In [133]:
x_ = spacy_vectors[3]
y_ = spacy_vectors[4]
x_ = np.matrix(x_)


a1,a2, h = forward2(x_,theta1,theta2)
h
theta3,theta4 = backpropagation2(theta1,theta2,x_,y_)
a1,a2, h = forward2(x_,theta3,theta4)
#np.array(h)
softmax(np.array(h)[0])

[0.5515069207179557,
 0.18667742416263217,
 0.06829686549907661,
 0.04947596648303089,
 0.0006595267118710769,
 0.14338329642543368]

In [114]:
import math
def softmax(H):
    sumatoria = sum([math.exp(w) for w in H])
    return [math.exp(w)/sumatoria for w in H]

In [69]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [70]:
def sigmoid_gradient(z):
    return np.multiply(sigmoid(z), (1 - sigmoid(z)))

In [71]:
def forward(X,theta1,theta2):
    m = X.shape[0]
    
    a1=X
    z2 = a1 * theta1.T
    a2 = sigmoid(z2) #funcion activacion
    z3 = a2 * theta2.T
    h = sigmoid(z3) #funcion activacion
    
    return a1, z2, a2, z3, h

In [92]:
def forward2(X,theta1,theta2):
    m = X.shape[0]
    
    a1=X
    a2 = a1 * theta1.T
    h = a2 * theta2.T
    
    return a1,a2, h

In [73]:
def backpropagation(thetha1,theta2,X,y):
    m = X.shape[0]
    X = np.matrix(X)
    y = np.matrix(y)
    
    a1, z2, a2, z3, h = forward(theta1,theta2,X,y)

In [110]:
def backpropagation2(theta1,theta2,X,y):
    m = X.shape[0]
    X = np.matrix(X)
    y = np.matrix(y)
    
    a1,a2,h = forward2(X,theta1,theta2)
    
    delta1 = np.zeros(theta1.shape)  
    delta2 = np.zeros(theta2.shape)
    
    for t in range(m):
        a1t = a1[t,:]
        a2t = a2[t,:]
        ht = h[t,:]
        yt = y[t,:]
        
        d3t = ht - yt #(1,6)
        
        d2t = (theta2.T * d3t.T).T #(1,3)
        
        delta1 = delta1 + d2t.T * a1t
        delta2 = delta2 + d3t.T * a2t
        
    delta1 = delta1 / m
    delta2 = delta2 / m
    
    grad1 = delta1
    grad2 = delta2
    
    return grad1,grad2

In [134]:
#X_train.shape
#X_test.shape
#X_train